h1 {
    color: #333;
}

.box1 {
    background-color: red;
    color: white;
    margin: 20px;
    padding: 15px;
    font-family: cursive;
}

.box2 {
    background-color: blue;
    color: white;
    margin: 20px;
    padding: 15px;
    font-family: sans-serif;
}

.box3 {
    background-color: green;
    color: white;
    margin: 20px;
    padding: 15px;
    font-family: serif;
}

.box4 {
    background-color: purple;
    color: white;
    margin: 20px;
    padding: 15px;
}

.box5 {
    background-color: orange;
    color: white;
    margin: 20px;
    padding: 15px;
}

.box6 {
    background-color: #333;
    color: white;
    margin: 20px;
    padding: 15px;
}